body {
	margin: 0;
	font-family: Avenir Next, Avenir, Helvetica Neue, Segoe UI, Helvetica, Arial,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	background-color: #414141;
	font-size: 18px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	/* margin: 3em 4em; */
	padding: 40px 40px 20px 40px;
	width: calc(100% - 8em);
	color: #fff;
	z-index: 2;
	background-color: #414141;
}

header nav {
	display: flex;
	font-size: 15px;
}

.nav-item {
	height: 1.5em;
	margin: 0px;
}

.nav-item a {
	font-size: 1.3em;
	color: #fff;
	text-decoration: none;
}
.nav-item a:hover {
	border-bottom: #ff989c solid 2px;
}

#home {
	height: 950px;
	background-color: #414141;
}
#projects {
	height: 950px;
	padding-top: 180px;
}
#aboutMe {
	height: 950px;
	/* background-color: #a6a69a; */
	background-color: #414141;
	padding-top: 180px;
}
#contact {
	height: 690px;
	/* background-color: #6f7c82; */
	/* background-color: #825983; */
	/* background-color: #a6a69a; */
	text-align: center;
	padding-top: 180px;
}
#nav {
	position: fixed;
	margin: auto;
	margin-left: 1200px;
}
.greeting {
	padding-top: 375px;
	/* padding-left: 200px; */
	font-size: 45px;
	font-family: "Tiempos Headline Bold", bold, serif;
	font-weight: 900;
}
.contact1 {
	margin-top: 10px;
	background-color: #414141;
	border: 1px solid #ff989c;
	border-radius: 3px;
	font-size: 18px;
	padding: 3px 0px;
	text-decoration: none;
	color: "#ff989c";
}
a:link {
	text-decoration: none;
	color: #1c1c1c;
}

/* a:visited {
	text-decoration: none;
	color: #171717;
} */
a:hover {
	color: white;
}

@media (max-width: 1200px) {
	.greeting {
		padding-left: 100px;
		padding-right: 100px;
	}
	.contact1 {
		margin-left: 100px;
	}
	#projects {
		height: 1200px;
	}
	#aboutMe {
		height: 1250px;
	}
	.project {
		width: 500px;
	}
}

@media (max-width: 2000px) {
	.greeting {
		padding-left: 200px;
	}
	.contact1 {
		margin-left: 200px;
	}
	.project {
		width: 700px;
		margin: auto;
	}
}
.sectionHead {
	display: flex;
	align-items: center;
}
.sectionName {
	font-size: 25px;
	/* text-align: center; */
}
.projectTitle {
	font-weight: 600;
	padding: 10px;
	font-size: 20px;
}
#projectList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.singleProject {
	width: 450px;
	margin: 50px 100px;
}

.singleProject:hover {
	border: 2px solid #ff989c;
	border-raidus: 3px;
}
#aboutMeContents {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.description {
	width: 600px;

	margin-top: 100px;
	padding-left: 100px;
}
.projectDescription {
	padding: 10px;
}
#me {
	margin-top: 100px;
	margin-bottom: 60px;
}

a {
	margin: 10px;
}
form {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.contactText {
	margin-top: 50px;
	padding: 20px;
}
.icon {
	width: 25px;
	color: black;
}
.titleNicon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.viewAllProjects {
	background-color: #414141;
	color: black;
	border: #ff989c;
	font-weight: bold;
	font-size: 18px;
}
.viewAllProjects:hover {
	border-bottom: solid black 2px;
}
.projectImg {
	width: 500px;
	padding: 0px;
	margin-top: 25px;
	margin-left: 100px;
}
.projectImg:hover {
	border: 2px solid #ff989c;
	border-raidus: 3px;
}
ul {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 20px 40px 20px 0px; /* Remove margins */
}
.techList {
	display: flex;
}
form {
	margin-bottom: 0px;
}
.sent {
	margin: 0px;
}
footer {
	text-align: center;
}
.col-8 col-8 pt-3 mx-auto btn btn-info:hover {
	color: black;
	background-color: "white";
}
input.btn-info:hover {
	color: black;
	border: 1px solid black;
}
